In [1]:
import wordgraph as wg
import numpy as np
import pandas as pd

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
G = wg.WordGraph()

# Using unit vectors for cos()

In [4]:
G.load_vector_model(vectors_path='data/glove_unit_42b_300.npy', 
                    vocab_path='data/dict_glove_42b_300', 
                    unit=True)


## Generate SEEDLings Graphs

In [5]:
seedlings = pd.read_csv('data/all_bl_no_fixme_no_CHI.csv')

#### All Month Graphs

In [10]:
G.load_words(seedlings, column='basic_level')

output_dir = '/Volumes/Lexar/semspace_output/seedlings_all_no_CHI'

G.generate_range_write(output_dir=output_dir, 
                       simil_func='cos',
                       start=0.0, 
                       end=1.0, 
                       step=0.01)

#### 6 Month Graphs

In [6]:
seedlings_6mo = seedlings[seedlings['month'] == 6]

output_dir = '/Volumes/Lexar/semspace_output/seedlings_6mo_no_CHI'

G.load_words(seedlings_6mo, column='basic_level')

G.generate_range_write(output_dir=output_dir, 
                       simil_func='cos',
                       start=0.0, 
                       end=1.0, 
                       step=0.01)

#### 16+17 Month Graphs

In [8]:
seedlings_1617mo = seedlings.query('month == 16 or month == 17')

output_dir = '/Volumes/Lexar/semspace_output/seedlings_1617mo_no_CHI'

G.load_words(seedlings_1617mo, column='basic_level')

G.generate_range_write(output_dir=output_dir, 
                       simil_func='cos',
                       start=0.0, 
                       end=1.0, 
                       step=0.01)

### Generate COCA Graphs

In [9]:
G.load_csv_words('data/top_english_nouns_coca.csv', column='word')

In [10]:
output_dir = '/Volumes/Lexar/semspace_output/coca_all'

G.generate_range_write(output_dir=output_dir, 
                       simil_func='cos',
                       start=0.0, 
                       end=1.0, 
                       step=0.01)

### Generate WordBank Graphs

In [5]:
G.load_csv_words('data/wordbank_english.csv', column='definition')

In [6]:
output_dir = '/Volumes/Lexar/semspace_output/wordbank'

G.generate_range_write(output_dir=output_dir, 
                       simil_func='cos',
                       start=0.0, 
                       end=1.0, 
                       step=0.01)

In [7]:
G.degree_distribution()

           word  degree
0     alligator       0
1        animal       0
2           ant       0
3          bear       0
4           bee       0
5          bird       0
6           bug       0
7         bunny       0
8     butterfly       0
9           cat       0
10      chicken       0
11          cow       0
12         deer       0
13          dog       0
14       donkey       0
15         duck       0
16     elephant       0
17         fish       0
18         frog       0
19      giraffe       0
20        goose       0
21          hen       0
22        horse       0
23        kitty       0
24         lamb       0
25         lion       0
26       monkey       0
27        moose       0
28        mouse       0
29          owl       0
..          ...     ...
335        baby       0
336  babysitter       0
337         boy       0
338     brother       0
339       child       0
340       clown       0
341      cowboy       0
342       daddy       0
343      doctor       0
344     fireman       0
345      friend       0
346        girl       0
347     grandma       0
348     grandpa       0
349        lady       0
350     mailman       0
351         man       0
352       mommy       0
353       nurse       0
354      people       0
355      person       0
356      police       0
357      sister       0
358     teacher       0
359       uncle       0
360    children       0
361        feet       0
362         men       0
363        mice       0
364       teeth       0

[365 rows x 2 columns]